body {
  background-color: #1c1c1c;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.password-container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
}